click==7.1.2
botocore==1.19.28
scipy==1.4.1
flake8==3.7.9
sympy==1.6.1
pytest==5.3.5
pandas==0.24.2
tqdm==4.47.0
wikipedia==1.4.0
numpy==1.17.0
matplotlib==3.1.3
requests==2.23.0
lxml==4.6.2
beautifulsoup4==4.9.3
boto3==1.16.28
PyQt5==5.15.2
scikit_learn==0.23.2
